body {
	font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
	margin: auto auto 40px;
	max-width: 550px;
	padding: 5px;
}

h1 {
	font-size: 42px;
	text-align: center;
	margin: 35px auto 25px;
}

h2 {
	font-size: 30px;
	text-align: center;
	margin: 20px auto;
}

p {
	margin: 0px;
	margin-top: 10px;
	margin-bottom: 20px;
	font-size: 16px;
	font-weight: 200;
	line-height: 26px;
}

h3 {
	margin-top: 40px;
	text-align: center;
	margin-bottom: 5px;
	font-weight: 400;
}

ul {
	border: 1px solid #ddd;
	border-radius: 5px;
	padding: 10px 40px;
	margin: 5px 20px;
	margin-bottom: 30px;
	list-style: upper-roman;
}

li {
	margin: 0px;
	padding-bottom: 5px;
	font-size: 14px;
	font-weight: 200;
}

li strong {
	font-weight: 500;
}

.redacted {
	font-weight: 200;
	font-style: italic;
}

.redacted strong {
	font-weight: 300;
	font-style: italic;
}

a {
	text-decoration: none;
	color: hsl(211, 15%, 40%);
	font-weight: 400;
}

a:hover {
	color: #4aa5e3;
}

.QandA h1 {
	margin: 30px 0px 0px;
	padding: 0px;
	/*color: #303841;*/
	font-size: 19px;
	font-weight: 400;
	text-align: left;
}

form {
	margin: auto;
	margin-top: 20px;
	text-align: right;
	max-width: 300px;
	border: 1px solid #ddd;
	border-radius: 5px;
	padding: 10px;
	height: 100px;
}

input[type=text],
input[type=email] {
	width: 230px;
}

.button {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	
	margin-top: 10px;
	background: #777;
	color: white;
	padding: 5px 10px;
	text-align: center;
	border: none;
	border-radius: 3px;
}
