<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <title>{{ page.title }}</title>
        <meta name="author" content="David Rönnqvist">
        <link rel="license" href="http://creativecommons.org/licenses/by-nc/3.0/">
        <link rel="stylesheet" href="/css/main.css">

    </head>
    <body>
    	<header id="main-header">
	    	<div id="top-of-header">
		    	<div id="backgroundGrid"></div>
		    	<h1 id="title">3D Graphics with Scene Kit</h1>
	    	</div>
	    	<nav>
		    	<ul>
			    	<li id="bookNav"><a href="/index.html">Book</a></li>
			    	<li id="sampleCodeNav"><a href="/sampleCode.html">Sample Code</a></li>
			    	<li id="blogNav"><a href="/blog.html">Blog</a></li>
			    	<!--<li id="statusNav"><a href="/status.html">Status</a></li>-->
		    	</ul>
	    	</nav>
    	</header>
    
        <article id="page">
			{{ content }}
		</article>
		
        <footer class="footer">
        <div id="top-of-footer">
	        <a href="https://itunes.apple.com/us/book/3d-graphics-with-scene-kit/id936235049?ls=1&amp;mt=11"><img class="download" src="/images/iBooks_Badge.svg" width="140" alt="Download on iBooks"></a>
        </div>
        <div id="bottom-of-footer">
	        <a aria-label="Twitter" class="twitter" href="https://twitter.com/SceneKitBook">@SceneKitBook
	    		<svg width="24px" height="24px" viewBox="0 0 24 20" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
	    		    <g stroke="#055cf9" stroke-width="1.3" fill="none" fill-rule="evenodd" stroke-linejoin="round">
	    		        <path d="M20.3613281,7.13427734 C20.5273124,9.69103726 19.131869,13.8828552 16.8437498,15.8686521 C14.5556309,17.8544492 9.25668317,21.3406761 1.29158574,16.1354549 C1.29158574,16.1354549 6.68873911,16.3917741 8.18359375,14.0444336 C7.04818584,13.3270828 4.20234925,12.3167923 3.59790045,9.69799782 C3.59790045,9.69799782 4.73860365,10.1046035 6.34204084,10.1046035 C6.34204084,10.1046035 2.42352444,6.76787401 3.0005795,2.07528464 C3.0005795,2.07528464 7.66926457,6.80103331 11.0625,7.0234375 C10.188943,3.8610991 11.9675476,1.72524742 14.6166792,1.3448875 C17.2658108,0.964527824 19.0190532,1.86821664 19.3219929,3.75713124 C22.528731,3.28707453 22.9370115,3.48486329 22.9370115,3.48486329 C22.9370115,3.48486329 23.6750004,4.0481705 20.3613281,7.13427734 Z M20.3613281,7.13427734" id="bird"></path>
	    		    </g>
	    		</svg>
			</a>
			
			by David Rönnqvist
			
	        <a aria-label="E-mail" class="mail" href="feedback@scenekitbook.co,">Feedback
	        	<svg width="24px" height="24px" viewBox="0 0 24 20" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
	        	    <g stroke="#055cf9" stroke-width="1.3" fill="none" fill-rule="evenodd" stroke-linejoin="round">
				        <g transform="translate(0.000000, 4.000000)" stroke="#055CF9">
		                    <rect id="Rectangle-4" sketch:type="MSShapeGroup" x="0.5" y="0.5" width="23" height="15" rx="2"></rect>
		                    <path d="M1,1 L9.91720017,9.89808459 C11.0935744,11.0719371 13.0038199,11.0669268 14.167395,9.90335176 L23.0434288,1.02731794" ></path>
		                    <path d="M1,15 L8,8" ></path>
		                    <path d="M23,15 L16,8" ></path>
		                </g>
	        	    </g>
	        	</svg>
	        </a>
        </div>
        <script type="text/javascript">
          var _gauges = _gauges || [];
          (function() {
            var t   = document.createElement('script');
            t.type  = 'text/javascript';
            t.async = true;
            t.id    = 'gauges-tracker';
            t.setAttribute('data-site-id', '526c058d613f5d082d00007f');
            t.setAttribute('data-track-path', 'https://track.gaug.es/track.gif');
            t.src = 'https://track.gaug.es/track.js';
            var s = document.getElementsByTagName('script')[0];
            s.parentNode.insertBefore(t, s);
          })();
        </script>
    </body>
</html>
